#menu-alkohole {

  $screen-xl-min: 1350px;
  $smallWidth: 0;

  $fontBig: 45px;
  $fontMid: 35px;
  $fontSmall: 28px;
  $fontExtraSmall: 20px;

  @media screen and (max-width: $screen-xs-max) {
    $smallWidth: 100%;
  }
  @media screen and (min-width: $screen-sm-min) {
    $smallWidth: 50%;
  }
  @media screen and (min-width: $screen-md-min) {
    $smallWidth: 121.25px;
  }
  @media screen and (min-width: $screen-lg-min) {
    $smallWidth: 162.5px;
  }
  @media screen and (min-width: $screen-xl-min) {
    $smallWidth: 162.5px;
  }


  .menu-container {
    width: 100%;
    display: block;
    position: relative;
    margin: auto;


    @media screen and (max-width: $screen-xs-max) {
      max-width: 100%;
    }
    @media screen and (min-width: $screen-sm-min) {
      max-width: 800px;
    }
    @media screen and (min-width: $screen-md-min) {

    }
    @media screen and (min-width: $screen-lg-min) {

    }
    @media screen and (min-width: $screen-xl-min) {

    }
    .menu-table {
      margin-bottom: 20px;
    }


    ul {
      list-style-type: none;
      padding: 0;
      float: none;
      width: 100%;
      margin-top: 50px;

      @media screen and (max-width: $screen-xs-max) {
        max-width: 95%;
        margin: auto;
      }

    }
    .menu-alkohole-row {
      margin-bottom:50px;
      border: 0px solid #cccccc;
      border-bottom-width: 1px;
    }
    .menu-alkohole-row-left{
      width: 300px;
      vertical-align: bottom;
      img {
        margin:auto;
        display: block;
      }
    }

    .menu-alkohole-left {
      width: auto;
      padding-right: 20px;
      .title {
        font-size: $fontBig;
        line-height: $fontBig;
      }
      .desc {
        color: $red;
        margin-bottom:-5px;
      }
    }
    .menu-alkohole-right {
      width: 120px;
    }
    .menu-alkohole-price-tag {
      width: 120px;
      color: white;
      background-color: $red;
      font-size: $fontBig;
      padding-left:20px;
    }
  }
}