#menu-zestawy {

  $screen-xl-min: 1350px;
  $smallWidth: 0;

  $fontBig: 45px;
  $fontMid: 35px;
  $fontSmall: 28px;
  $fontExtraSmall: 20px;


  @media screen and (max-width: $screen-xs-max) {
    $smallWidth: 100%;
  }
  @media screen and (min-width: $screen-sm-min) {
    $smallWidth: 50%;
  }
  @media screen and (min-width: $screen-md-min) {
    $smallWidth: 121.25px;
  }
  @media screen and (min-width: $screen-lg-min) {
    $smallWidth: 162.5px;
  }
  @media screen and (min-width: $screen-xl-min) {
    $smallWidth: 162.5px;
  }


  .menu-container {
    width: 100%;
    height: 1000px;
    display: block;
    position: relative;
    margin: auto;


    @media screen and (max-width: $screen-xs-max) {
      max-width: 100%;
    }
    @media screen and (min-width: $screen-sm-min) {
      max-width: 750px;
    }
    @media screen and (min-width: $screen-md-min) {
      max-width: 975px;
    }
    @media screen and (min-width: $screen-lg-min) {
      max-width: 975px;
    }
    @media screen and (min-width: $screen-xl-min) {
      max-width: 1300px;
    }
  }

  .menu-tile {
    display: block;
    color: black;
    position: relative;
    float: left;
    background: white;
    background-size: 100% auto;

    @media screen and (max-width: $screen-xs-max) {
      position: relative;
      float: left;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
    }

    @media screen and (min-width: $screen-sm-min) {
      width: 50%;
      padding-bottom: 50%;
    }
    @media screen and (min-width: $screen-md-min) {
      //position: absolute;
      padding-bottom: 0;
    }
  }

  .menu-tile-container {
    position: absolute;
    left: 0;
    top: 0;
    right:0;
    bottom:0;

    padding-top: 15px;
    padding-left: 15px;

    border: 1px solid #cccccc;
    box-sizing: border-box;
    margin-left: -1px;
    margin-top: -1px;
  }

  .mt-lg-1 {
    font-size: $fontBig;
    line-height: $fontBig;

    @media screen and (min-width: $screen-md-min) {
      font-size: $fontSmall;
      line-height: $fontSmall;
    }
    @media screen and (min-width: $screen-md-min) {
      width: $smallWidth;
      height: $smallWidth;
    }
  }

  .mt-lg-2 {
    font-size: $fontBig;
    line-height: $fontBig;
    @media screen and (min-width: $screen-md-min) {
      width: $smallWidth*2;
      height: $smallWidth*2;
    }

  }

  .mt-lg-3 {
    font-size: $fontBig;
    line-height: $fontBig;
    @media screen and (min-width: $screen-md-min) {
      width: $smallWidth*3;
      height: $smallWidth*3;
    }
  }

  #mt-1 {
    .menu-tile-container {
      padding-left:30px;
      padding-top: 40px;
      padding-right: 60px;
      p {
        font-size:$fontExtraSmall;
        line-height:$fontExtraSmall;
      }
      h3 {
        font-size:$fontMid;
        line-height:$fontMid/1.2;
      }
      .menu-tile-price-tag
      {
        font-size: $fontBig;
        display: block;
        width: 130px;
        height: 56px;
        background-color: $red;
        color: white;
        padding-left: 20px;
        padding-top: 4px;
        margin-top: 30px;
      }
    }
    @media screen and (min-width: $screen-xl-min) {
      top:0;
      left:0;
    }
  }
}
