$icon-font-path: '../fonts/bootstrap/';
$red: #ed2327;

@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower/bourbon/app/assets/stylesheets/bourbon";
@import 'menu';

@font-face {
  font-family: tinymce;
  src: url('../fonts/tinymce.eot');
  src: url('../fonts/tinymce.eot?#iefix') format('embedded-opentype'), url('../fonts/tinymce.woff') format('woff'), url('../fonts/tinymce.ttf') format('truetype'), url('../fonts/tinymce.svg#tinymce') format('svg');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: tinymce-small;
  src: url('../fonts/tinymce-small.eot');
  src: url('../fonts/tinymce-small.eot?#iefix') format('embedded-opentype'), url('../fonts/tinymce-small.woff') format('woff'), url('../fonts/tinymce-small.ttf') format('truetype'), url('../fonts/tinymce-small.svg#tinymce') format('svg');
  font-weight: 400;
  font-style: normal
}

.form-helper {
  font-size: 12px;
  margin: 5px 0;
  color: lighten(#000000, 60);
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.badge-file {
  border: 1px solid $gray-light;
  background: transparent;
  color: $gray-light;
}

.remove-panel {
  position: relative;
  overflow: hidden;

  form {
    display: inline-block;
  }

  .remove-body {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0px;
    width: 100%;
    padding: 10px 15px;
    background: white;
    color: #555;

    @include transform(translate(100%, 0));
    @include transition(transform 0.1s ease-out);
  }

  &.remove-confirmation {
    .remove-body {
      @include transform(translate(0, 0));
    }
  }

  .btn {
    margin-left: 5px;
    float: left;
  }

  .remove-action {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    @include transform(translate(0, -50%));
  }
}

.list-group-item {
  position: relative;
  overflow: hidden;
  line-height: 30px;

  &.active {
    border-bottom: 1px solid #ddd;
  }

  .list-group-remove {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0px;
    width: 100%;
    padding: 10px 15px;
    background: white;
    color: #555;

    @include transform(translate(100%, 0));
    @include transition(transform 0.1s ease-out);
  }

  &.remove-confirmation {
    .list-group-remove {
      @include transform(translate(0, 0));
    }
  }

  .btn {
    margin-left: 5px;
    float: left;
  }

  form {
    display: inline-block;
  }

  .item-action {
    display: block;
    float: right;
    margin-right: -7px;
  }
}

.panel.disabled {
  background-color: #eeeeee;
  color: #777777;
  cursor: not-allowed;

  .panel-body {
    position: relative;
  }

  .form-disabled {
    background-color: #eeeeee;
    color: #777777;
    cursor: not-allowed;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .list-group-item {
    background-color: #eeeeee;
    color: #777777;
    cursor: not-allowed;
  }
}

.panel-heading {
  position: relative;

  .panel-action {
    position: absolute;
    right: 5px;
    top: 50%;
    @include transform(translate(0, -50%));

  }
}

.panel-sortable {
  .btn-cancel,
  .btn-ok {
    display: none;
  }

  .active {
    .btn {
      display: none;
    }
    .btn.btn-cancel,
    .btn.btn-ok {
      display: inline-block;
    }
  }
}

.toaster {
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 999;
  list-style: none;
}

.modal-dialog {
  .list-group {
    margin-bottom: 0;
  }
  .list-group-item:first-child {
    border-top: 0;
    border-radius: 0;
  }
  .list-group-item:last-child {
    border-bottom: 0;
    border-radius: 0;
  }
}